{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Korusan Emsan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">


    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
     <link rel="icon" href="{% get_media_prefix %}korsanlogopng.png" type="image/gif" sizes="16x16">
    <link rel="shortcut icon" href="{% get_media_prefix %}korsanlogopng.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
       {% include 'style.html' %}
      {% include 'tagmanager.html' %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
      {% include 'tagmanagerbody.html' %}

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">

    {% include 'headers.html' %}


    <div class="site-section  border-bottom" style="padding-top: 10em;">
      <div class="container">

          <div class="col-md-12" style="text-align:center;margin-bottom: 10px;">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center">
                <span class="sub-title">Emsan Korusan</span>
                <h2 class="font-weight-bold text-black">İletişim Bilgileri</h2>
              </div>
            </div>
              <!--<img src="https://storage.googleapis.com/emsankorusan/upload/ulke.png" class="img-fluid">-->
          </div>

        <div class="row">
            <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>İSTANBUL (MERKEZ)</strong></li>
                      <li>YUSUF SAYGILI</li>
                      <li>
                          <a href="tel:+90-216-484-23-23">0216 484 23 23</a>
                      </li>
                      <li>Ekşioğlu Mah. 30.Sok. No:19
                          Alemdağ/Çekmeköy/İSTANBUL</li>
                      <li>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.885359496952!2d29.237670315414615!3d41.02776397929876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad1fbc70392b1%3A0x861b9dc6f71fdec6!2sRamta%C5%9F%20-%20Emsan%20Korusan%20Emprenye%20San.%20%C5%9Eirketler%20Grubu!5e0!3m2!1sen!2sus!4v1596637230105!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>
                  </ul>
             </div>
             <div class="col-12 col-md-4 mb-10" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>BOLU (FABRİKA)</strong></li>
                          <li>METİN GÜÇLÜ</li>
                          <li>
                              <a href="tel:+90-544-226-86-24">0544 226 86 24</a><span> - </span>
                              <a href="tel:+90-374-253-43-26" >0374 253 43 26</a>
                          </li>
                      <li>Aşağı Karaköy,Söğütlük Mevkii Merkez/BOLU</li>
                      <li style="margin: 5px;">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.5567743865654!2d31.544119215404756!3d40.70575817933263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d401195555555%3A0x4f4a1ab78cd8de20!2zUmFtdGHFnyBPcm1hbiDDnHLDvG5sZXJp!5e0!3m2!1sen!2str!4v1596658488633!5m2!1sen!2str" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                       </li>
                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>MERZİFON (FABRİKA)</strong></li>
                      <li>DAVUT BOZKURT</li>
                      <li>
                          <a href="tel:+90-538-702-03-73">+90 538 702 03 73</a>
                      </li>
                      <li>Organize Sanayi Bölgesi Kümbet Hatun
                          OSB Mah. 1.sok No:4 Merzifon/AMASYA</li>
                      <li>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.218607600502!2d35.469260315409095!3d40.84512397931761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zNDDCsDUwJzQyLjUiTiAzNcKwMjgnMTcuMiJF!5e0!3m2!1sen!2sus!4v1596637326916!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>
                  </ul>
             </div>


             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>ANKARA</strong></li>
                          <li>MUSTAFA GÜCEK</li>
                          <li>
                              <a href="tel:+905387020374">+90 538 702 03 74</a><span> - </span>
                              <a href="tel:+90-374-253-43-26">0312 395 72 35</a>
                          </li>
                      <li>İvedik Organize San. Bölgesi
                            Yenimahalle 687.Sok. No:104 ANKARA</li>
                      <li>
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.6023942723386!2d32.740999315383085!3d39.994989979416346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34a205ddf74e3%3A0xbf35f74acbf7047a!2sEmsan%20Korusan%20Emprenye%20Sanayi%20ve%20Ticaret%20A.%C5%9E.!5e0!3m2!1sen!2sus!4v1596637121448!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </li>
                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>EZİNE</strong></li>
                          <li></li>
                          <li>
                              <a href="tel:+90-538-702-03-75">0538 702 03 75</a><span> - </span>
                              <a href="tel:+90-286-618-11-27">0286 618 11 27</a>
                          </li>
                      <li>İzmir Asfaltı Üzeri,Eski Tabakhane Arkası Ezine/ÇANAKKALE</li>
                      <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.5926566359276!2d26.339387115377008!3d39.793695979442305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b05e894c0f5ecf%3A0xae88f5ce7ec37b22!2zUmFtdGHFnw!5e0!3m2!1sen!2sus!4v1596637259871!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </li>

                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>MUĞLA</strong></li>
                          <li>OSMAN KAYYUM</li>
                          <li>
                              <a href="tel:+90-537-868-51-03">0537 868 51 03</a>
                        </li>
                      <li>Salihpaşalar Köyü
                            Merkez/MUĞLA</li>
                      <li>
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.7837439816017!2d28.231495215302747!3d37.252838079857916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bf1361b05ae8cd%3A0x3305fe43506efba0!2sRamta%C5%9F%20-%20Emsan%20Korusan%20Emprenye%20San.%20%C5%9Eirketler%20Grubu!5e0!3m2!1sen!2sus!4v1596637140190!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>
                  </ul>

             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>ADANA</strong></li>
                          <li>İLKER KOCABAY</li>
                          <li>
                              <a href="tel:+90-538-702-03-71">0538 702 03 71</a>
                          </li>
                      <li>Mustafalar Köyü Yüreğir/ADANA</li>
                      <li>
                        <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12859.23291208916!2d35.
                                  50753020322236!3d37.115669587460566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1
                                  !3m3!1m2!1s0x1528ddad53e457af%3A0x51a520d58b789da0!2sMustafalar%2C%20Adana
                                  %20Sivas%20Yolu%2C%20Sar%C4%B1%C3%A7am%2FAdana%2C%20Turkey!5e0!3m2!1sen!2sus!
                                  4v1596636915594!5m2!1sen!2sus" width="300" height="300" frameborder="0"
                                  style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </li>

                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>GEDİZ</strong></li>
                          <li>SEDAT ÖZTÜRK</li>
                          <li>
                              <a href="tel:+90-536-828-01-67">0536 828 01 67</a><span> - </span>
                              <a href="tel:+90-274-424-21-01">0274 424 21 01</a>
                          </li>
                      <li>Gölcük Köyü, Dereyolu Mevkii Gediz/KÜTAHYA</li>
                      <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.764656222663!2d29.289797315349976!3d38.88362597957266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMzjCsDUzJzAxLjEiTiAyOcKwMTcnMzEuMiJF!5e0!3m2!1sen!2sus!4v1596637179538!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>

                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>YILDIZELİ</strong></li>
                          <li>HAKAN SAĞLAM</li>
                          <li>
                              <a href="tel:+90-346-751-21-23">0346 751 21 23</a>
                          </li>
                      <li>Şeyh Halil Köyü,Ankara Asfaltı Üzeri Mütevelli Petrol Yanı Yıldızeli/SİVAS</li>
                      <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.2325729000127!2d36.58333661537937!3d39.86902807943255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cbd1511e6423db%3A0xb204d879a4d4ad0b!2sD200%2C%2058500!5e0!3m2!1sen!2str!4v1596658401039!5m2!1sen!2str" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>

                  </ul>
             </div>
             <div class="col-12 col-md-4" style="text-align:center;">
                  <ul style="list-style-type: none;">
                      <li><strong>İZMİR</strong></li>
                          <li>ENES EMRE KÜÇÜK</li>
                          <li>
                              <a href="tel:+90-545-201-99-11">0545 201 99 11</a><span> - </span>
                              <a href="tel:+90-549-712-03-66">0549 712 03 66</a>
                          </li>
                      <li>İçmeler Mahallesi Nuri Özbek Caddesi no:13 Urla/İzmir 
(Karaburun otoban kavşağı)</li>
                      <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.7347044394332!2d26.678779315333085!3d38.30881397966582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bb917562f36507%3A0x42f5afed9318faa5!2sBernis%20Market!5e0!3m2!1str!2str!4v1640566784992!5m2!1str!2str" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </li>

                  </ul>
             </div>
        </div>

      </div>
    </div>


<div class="site-section  border-bottom" style="padding-top: 10em;">
          <div class="container">
               <div class="col-md-12" style="text-align:center;margin-bottom: 10px;">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center">
                <span class="sub-title">Emsan Korusan</span>
                <h2 class="font-weight-bold text-black">Sizinle İletişime Geçelim</h2>
              </div>
            </div>
              <!--<img src="https://storage.googleapis.com/emsankorusan/upload/ulke.png" class="img-fluid">-->
          </div>
               <div class="row">

          <div class="col-md-12 col-lg-12">

            <form action="#" class="p-5 bg-white" method="post">{% csrf_token %}

                  <input type="hidden" name="formType" value="contact">
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">İsim Soyisim</label>
                  <input type="text" id="fullname" class="form-control" placeholder="İsim Girin" name="name" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="id_email" class="form-control" placeholder="Email adresi" name="mail">
                </div>
                <div class="col-md-6">
                  <label class="font-weight-bold" for="email">Telefon</label>
                  <input type="tel" id="id_telefon" class="form-control" placeholder="Telefon" name="telefon" required>
                </div>
              </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Mesaj</label>
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control"  placeholder="Soru, Öneri ve Şikayetlerinizi Yazın."></textarea>
                </div>
              </div>
                 <div class="row form-group">
                    <div class="col-md-12">
                      <label class="font-weight-bold" for="message">İşlemi Cevaplayın:</label>
                        <div class="d-flex">
                            <p>{{ firstNo }}</p> + <p>{{ lastNo }}</p> =
                            <input type="number" name="result" required>
                            <input type="hidden" name="resultvalue" value="{{ resultNo }}">
                        </div>

                    </div>
                  </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Sizi Arayalım" class="btn btn-primary rounded-0 btn-lg">
                </div>
              </div>

                <a href="tel:+90-216-484-2323" class="d-flex align-items-center">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block"> 0 (216) 484 23 23</span>
                </a>
            </form>

          </div>
        </div>
          </div>
      </div>


    <div class="site-section" id="projects-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title">Emsan Korusan</span>
            <h2 class="font-weight-bold text-black">Projelerimiz</h2>
            <p class="mb-5">Gerçekleştirilen Projeler</p>
          </div>
        </div>
        <div class="row">
            {% for pro in projects %}
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ pro.imageField.url }}" class="d-block figure" data-fancybox="gallery">
              <img src="{{ pro.imageField.url }}" alt="Image"  width="350" height="200">
            </a>
            <h3 class="mb-0"><a href="#">{{ pro.name }}</a></h3>
            <span class="text-muted">{{ pro.description|safe|truncatewords:4 }}</span>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>




    <div class="site-section" id="news-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <span class="sub-title">Emsan Korusan'dan Haberler</span>
            <h2 class="font-weight-bold text-black mb-5">Sektör Haber ve Bilgileri</h2>
          </div>
        </div>
        <div class="row mb-5">
            {% for blog in contents %}
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
           <a href="{% url 'blogDetail' slug=blog.slug %}" class="d-block figure">
              <img src="{{ blog.imageField.url }}" alt="Image" width="350" height="200">
            </a>
            <span class="text-muted d-block mb-1">{{ imageField.date }}</span>
            <h3><a href="#"> {{ blog.name }}</a></h3>
          </div>
            {% endfor %}
        </div>
        <div class="row mt-5 text-center">
          <div class="col-12">
            <p><a href="{% url 'blogAll' %}" class="btn btn-primary btn-lg rounded-0">Hepsi</a></p>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title">İletişime Geç</span>
            <h2 class="font-weight-bold text-black">Neden KORUSAN?</h2>
            <p class="mb-5">

1963 yılında kurulmuş olan şirketlerimiz halen TEDAŞ,Türk Telekominikasyon A.Ş.
                ve özel sektör kurumlarına emprenyeli ahşap telefon - elektrik direkleri,
                maden direği, kereste, travers, çit kazığı, sera kerestesi,
                su soğutma kulesi keresteleri, park-bahçe peyzajında kullanılan ahşap ürünler
                ve son senelerde yoğun olarak bina dış cephe giydirmelerinde kullanılan
                karkas üretiminde lider konumundadır.Halen toplam 300.000 m3/yıl kapasite
                ve 7,5 m - 42 m arası uzunlukta vakum-basınç kazanları ile Türkiye'nin
                çeşitli bölgelerinde hizmet vermekteyiz..
            </p>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12 col-lg-12">

            <form action="#" class="p-5 bg-white" method="post">{% csrf_token %}

                  <input type="hidden" name="formType" value="contact">
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">İsim Soyisim</label>
                  <input type="text" id="fullname" class="form-control" placeholder="İsim Girin" name="name" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="id_email" class="form-control" placeholder="Email adresi" name="mail">
                </div>
                <div class="col-md-6">
                  <label class="font-weight-bold" for="email">Telefon</label>
                  <input type="tel" id="id_telefon" class="form-control" placeholder="Telefon" name="telefon" required>
                </div>
              </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Mesaj</label>
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control"  placeholder="Soru, Öneri ve Şikayetlerinizi Yazın."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Sizi Arayalım" class="btn btn-primary rounded-0 btn-lg">
                </div>
              </div>

                <a href="tel:+90-216-484-2323" class="d-flex align-items-center">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block"> 0 (216) 484 23 23</span>
                </a>
            </form>

          </div>
        </div>
      </div>
    </div>

    {% include 'footers.html' %}
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>
