        <style>
          .site-navbar {
              background-color: transparent;
          }
.pos-f-t {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 700px) {
  .pos-f-t {
    display: none;
  }

}
@media only screen and (max-width: 700px) {
  #sticky-wrapper {
    display: none;

  }
    .site-navbar-top{
        display: none;
    }
}

.site-navbar-top-ex {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;

}
            .site-navbar-wrap {background-color: transparent;}
      </style>