        <style>
          .site-navbar {
              background-color: transparent;
          }
.pos-f-t {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 700px) {
  .pos-f-t {
    display: none;
  }

}
@media only screen and (max-width: 700px) {
  #sticky-wrapper {
    display: none;

  }
    .site-navbar-top{
        display: none;
    }
}

.site-navbar-top-ex {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;

}
            .site-navbar-wrap {background-color: transparent;}

            .phone-icon {
  position: fixed; /* Sabit pozisyon */
  bottom: 20px; /* Alttan 20px */
  right: 20px; /* Sağdan 20px */
  z-index: 1000; /* Diğer öğelerin üstünde */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e9611; /* Arka plan rengi */
  color: white; /* İkon veya yazı rengi */
  width: 75px; /* Genişlik */
  height: 75px; /* Yükseklik */
  border-radius: 50%; /* Yuvarlak çerçeve */
  text-decoration: none; /* Bağlantı alt çizgisini kaldır */
}
            .phone-icon:hover {
                color: lightgrey;
            }
      </style>