{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Korusan Emsan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">


    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
     <link rel="icon" href="{% get_media_prefix %}korsanlogopng.png" type="image/gif" sizes="16x16">
    <link rel="shortcut icon" href="{% get_media_prefix %}korsanlogopng.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      {% include 'style.html' %}
      {% include 'tagmanager.html' %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
      {% include 'tagmanagerbody.html' %}

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">

   {% include 'headers.html' %}

    <div class="site-section about-section" style="padding-top: 10em;" id="about-section">
      <div class="container">
         
        <div class="col-12 col-md-12 align-items-center mb-5">



            <h1>KİŞİSEL VERİLERİN KORUNMASI KANUNU HAKKINDA AYDINLATMA METNİ</h1>
 <br>
Kişisel verilerin işlenmesinde başta özel hayatın gizliliği olmak üzere kişilerin temel hak ve özgürlüklerinin korunmasını amaçlayan 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun (“KVKK”) “Veri Sorumlusunun Aydınlatma Yükümlülüğü” başlıklı 10. maddesi ile Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ uyarınca işbu Aydınlatma Metni ile Emsan Korusan Emprenye ve Orman Ürünleri San. Tic. A.Ş. olarak işlenen kişisel verileriniz hakkında sizleri bilgilendirmek istiyoruz.
 <br>
1.VERİ SORUMLUSUNUN KİMLİĞİ VE AYDINLATMA METNİNİN KAPSAMI 
 <br>
KEAS, KVKK ve ilgili düzenlemeler kapsamında kişisel verilerinizi “Veri Sorumlusu” sıfatıyla işlemektedir. Bu aydınlatma metni kapsamında müşteri, tedarikçi, iş ortağı, bayii, danışman ve şirket ziyaretçilerimizin aydınlatılması amaçlanmaktadır. İnternet sitesindeki çerezler aracığıyla işlenen kişisel verilere ilişkin detaylı bilgiler “Çerezlere İlişkin Bilgilendirme Metni”nde yer almaktadır. İşe alım sürecindeki kişisel veri işleme faaliyetlerine ilişkin bilgilendirme ise “Çalışan Adaylarına İlişkin Kişisel Verilerin Korunması Hakkında Aydınlatma Metni” aracılığıyla yapılmaktadır. 
 <br>
2.İŞLENEN KİŞİSEL VERİLER
 <br>
Emsan Korusan Emprenye ve Orman Ürünleri San.Tic.A.Ş. ile ilişkiniz kapsamında faaliyetin niteliğine bağlı olarak aşağıda belirtilen kategorilerdeki kişisel verileriniz işlenebilmektedir;
<ul>
<li>Kimlik Verileri</li>
<li>İletişim Verileri</li>
<li>Finansal Veriler</li>
<li>Fiziksel Mekan Güvenliği Verileri</li>
<li>İşlem Güvenliği Verileri</li>
<li>Görsel ve İşitsel Veriler</li></li>
<li>Hukuki İşlem Verileri</li>
</ul>
 <br>
3.KİŞİSEL VERİLERİN İŞLENME AMACI
 <br>
Emsan Korusan Emprenye ve Orman Ürünleri San.Tic.A.Ş. ile ilişkiniz kapsamında elde edilen kişisel verileriniz aşağıda yer verilen amaçlarla işlenebilmektedir;
•	Müşteriyi tanıma sürecinin yürütülmesi
•	Teklif ve satış süreçlerinin yönetilmesi
•	Faturalama ve belge düzenleme sürecinin yürütülmesi
•	İş birliği içinde olunan Müşteri ve Tedarikçilere yönelik iletişim faaliyetlerinin yürütülmesi ile kurumsal iletişim faaliyetlerinin planlanması ve icrası
•	İş ortakları ve/veya tedarikçilerle olan ilişkilerin yönetimi
•	Talep ve şikâyetlerin değerlendirilmesi sürecinin yönetilmesi
•	Hukuk işlerinin takibi ve yürütülmesi
•	Etik İhlal Bildirim Hattı ve ilgili diğer yöntemler aracılığıyla denetim, soruşturma ve istihbarat faaliyetlerinin yürütülmesi
•	İş faaliyetlerinin yürütülmesi / denetimi
•	Nakliye ve lojistik faaliyetlerinin planlanması ve yürütülmesi
•	İnternet sitesi erişim kayıtlarının yönetimi, zorunlu çerezlerin kullanılması ve veri güvenliğinin sağlanması,
•	Özel günlerde kutlama amaçlı eşantiyon, takvim, ajanda vb. hediye veya mesaj gönderilmesi
•	Pazarlama faaliyetleri kapsamında iletişime geçilmesi, ticari ileti gönderimi, anket ve memnuniyet çalışmalarının yapılması, ürün ve/veya hizmetlere bağlılık süreçlerinin planlanması ve/veya icrası
•	Şirketimizin tanıtım faaliyetleri kapsamında irtibat kişilerinin iletişim bilgilerinin toplanması ve kullanılması
•	İş sürekliliğinin sağlanması faaliyetlerinin yürütülmesi
•	Organizasyon ve etkinlik yönetimi
•	Sosyal sorumluluk ve sivil toplum aktivitelerinin yürütülmesi
•	Mevzuat çerçevesinde yetkili kamu kurum ve kuruluşları ile bilgi paylaşımının yapılması
•	Şirket ofis ve fabrikalarının güvenliğinin temini amacıyla giriş kaydı ve kamera kayıtlarının alınması
  <br>
4.İŞLENEN KİŞİSEL VERİLERİN AKTARIMI
  <br>
Kişisel verileriniz, işbu Aydınlatma Metni’nin 3. maddesinde yer alan amaçlarla ve KVKK’nın 8. ve 9. maddesinde belirtilen şartlara uygun olarak; faaliyetin niteliğine göre hizmet aldığımız/işbirliği yaptığımız program ortağı kurum ve kuruluşlara, bankalar ve finansman şirketlerine, hukuki/finansal/vergisel/operasyonel konularda danışmanlık aldığımız kuruluşlara, nakliye ve lojistik firmalarına,grup firmamız olan Ramtaş Emprenye San.Tic. A.Ş. ve yetkili kamu kurum ve kuruluşlarına aktarılabilmektedir.
  <br>
5.KİŞİSEL VERİLERİN TOPLANMA YÖNTEMLERİ VE HUKUKİ SEBEPLERİ
  <br>
Kişisel verileriniz, Emsan Korusan Emp.ve Orm.Ürn.San.Tic.A.Ş. ile hukuki ilişkinizin kurulması esnasında ve söz konusu ilişkinin devamı süresince doğrudan sizlerden veya şirket yetkilileri, iş ortaklarımız, grup şirketleri ve iştirakler, kamu kurum/kuruluşları aracılığıyla üçüncü kişilerden; yazılı/sözlü şekilde otomatik olmayan yollarla ya da elektronik mecralardan otomatik yollarla Kanun’un 5. ve 6. maddelerine uygun olarak aşağıda yer alan hukuka uygunluk sebeplerine dayanılarak toplanmakta ve işlenmektedir.
•	Açık rızanızın bulunması,
•	Şirketimizin tabi olduğu kanunlarda açıkça öngörülmüş olması,
•	Sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, kişisel verilerin işlenmesinin gerekli olması,
•	Hukuki yükümlülüğün yerine getirebilmesi için zorunlu olması,
•	Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
•	İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması.

 <br>



6.KİŞİSEL VERİSİ İŞLENEN İLGİLİ KİŞİNİN HAKLARI
  <br>
Kanun’un 11. maddesi hükümleri uyarınca kişisel verilerinize ilişki olarak aşağıdaki haklarınız bulunmaktadır:
•	Kişisel verilerinizin işlenip işlenmediğini öğrenme,
•	Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,
•	Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
•	Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,
•	Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
•	İşlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerinizin silinmesini veya yok edilmesini isteme,
•	Kişisel verilerinizin düzeltilmesi, silinmesi ya da yok edilmesi halinde bu işlemlerin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,
•	İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,
•	Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme.
 <br>



        </div>

      </div>
    </div>

   
  

    {% include 'footers.html' %}
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>